html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.jumbo {
    height: 300px;
    background-image: url("../images/istockphoto-1434116614-612x612.jpg");
    position: relative;
}

.jubmo-info {
    position: absolute;
    bottom: 0;
    color: orange;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    padding: 0 20px 10px 20px;
    width: 100%
}