@model HomeViewModel


<div class="jumbo">
    <div class="jubmo-info">
        <h1>@ViewData["Title"]</h1>
        <p>Benvenuto sulla piattaforma <strong>PERFETTA</strong> per apprendere nuove skill o migliorare quelle che già hai</p>
    </div>
</div>

<section class="mt-5">
    <h2 class="mb-3">Aggiunti di recente</h2>
    <div class="list-group">
        @foreach (CourseViewModel course in Model.MostRecentCourses)
        {
            <partial name="Courses/_CourseLine" model="@course" /> //qui l'attributo model si deve chiamare così
        }
    </div>
</section>

<section class="mt-5">
    <h2 class="mb-3">Milgiori di sempre</h2>
    <div class="list-group">

        @foreach (CourseViewModel course in Model.MostRecentCourses)
        {
            <partial name="Courses/_CourseLine" model="@course" />
        }
    </div>
</section>